.colour0 {
  background: rgb(255, 153, 153);
  border: 4px solid rgb(204, 0, 0);
}

.colour1 {
  background: rgb(153, 255, 153);
  border: 4px solid rgb(0, 204, 0);
}

.colour2 {
  background: rgb(153, 153, 255);
  border: 4px solid rgb(0, 0, 204);
}

.colour3 {
  background: rgb(255, 255, 153);
  border: 4px solid rgb(204, 204, 0);
}

.colour4 {
  background: rgb(153, 255, 255);
  border: 4px solid rgb(0, 204, 204);
}

.colour5 {
  background: rgb(255, 153, 255);
  border: 4px solid rgb(204, 0, 204);
}
