.pipe {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: .5rem;
  border-width: .3rem;
  border-style: solid;
  box-sizing: border-box;
  transition: background-color .2s .2s, border-color .2s .2s, left .2s, width .2s;
  &::after {
    content: '';
    display: block;
    position: absolute;
    height: .3rem;
    width: .3rem;
    transition: background-color .2s .2s, border-color .2s .2s, left .2s, width .2s;
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.pipeColour0 {
  background: $red;
  border-color: $redDark;
  &::after {
    background: $redDark;
  }
}

.pipeColour1 {
  background: $green;
  border-color: $greenDark;
  &::after {
    background: $greenDark;
  }
}

.pipeColour2 {
  background: $blue;
  border-color: $blueDark;
  &::after {
    background: $blueDark;
  }
}

.pipeColour3 {
  background: $yellow;
  border-color: $yellowDark;
  &::after {
    background: $yellowDark;
  }
}

.pipeColour4 {
  background: $cyan;
  border-color: $cyanDark;
  &::after {
    background: $cyanDark;
  }
}

.pipeColour5 {
  background: $magenta;
  border-color: $magentaDark;
  &::after {
    background: $magentaDark;
  }
}

.pipe0 {
  top: -3.3rem;
  left: 1.3rem;
  height: 3.8rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
}

.pipe1 {
  top: -3.3rem;
  left: -3.3rem;
  width: 5.6rem;
  border-bottom-right-radius: 0;
  border-bottom: none;
  &::after {
    width: calc(100% - .4rem);
    bottom: 0;
    left: 0;
  }
}

.pipe2 {
  top: -3.3rem;
  left: -3.3rem;
  bottom: -3.3rem;
  height: unset;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  &::after {
    right: 0;
    top: .4rem;
    height: calc(100% - .8rem);
  }
}

.pipe3 {
  bottom: -3.3rem;
  left: -3.3rem;
  border-top: none;
  border-top-left-radius: 0;
  &::after {
    left: .4rem;
    width: calc(100% - .4rem);
  }
}

.pipe4 {
  bottom: -3.3rem;
  height: 4.6rem;
  border-top: none;
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  &::after {
    height: calc(100% - .4rem);
  }
}
